@model dynamic
<!-- Esperamos un objeto con: Id, Controller -->

<div class="btn-group shadow-sm" role="group">
    <a href="/@Model.Controller/Edit/@Model.Id" class="btn btn-sm btn-light text-warning" title="Editar">
        <i class="fas fa-pen"></i>
    </a>
    <a href="/@Model.Controller/Details/@Model.Id" class="btn btn-sm btn-light text-info" title="Ver Detalles">
        <i class="fas fa-eye"></i>
    </a>
    <button onclick="borrar(@Model.Id)" class="btn btn-sm btn-light text-danger" title="Eliminar">
        <i class="fas fa-trash"></i>
    </button>
</div>